<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1100">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>ぼさき株式会社</title>
</head>

<body>
    <h1>ぼさき株式会社.com</h1>
    <div class="table-container">
        <table width="100%" height="100%">
            <tr>
                <th>時間</th>
                <!--classappendでは、条件の設定で三項演算子を利用している-->
                <!--T構文はjavaの静的な機能を使用するためのもの。クラスのある場所をTで示す-->
                <th th:each="date : ${sevenDays}" th:text="${#temporals.format(date, 'M月d日')}" th:classappend="${date.getDayOfWeek() == T(java.time.DayOfWeek).SATURDAY} ? 'saturday-color' : 
                    (${date.getDayOfWeek() == T(java.time.DayOfWeek).SUNDAY} ? 'sunday-color' : '')">
                </th>
            </tr>
            <!--時間、なまえ-->
            <tr th:each="time:${timeSlots}">
                <th th:text="${time}"></th>

                <td th:each="date: ${sevenDays}">
                    <div th:each="data: ${names}" th:if="${data.shiftDateTime != null && 
                                data.shiftDateTime.toLocalTime().toString.equals(time) &&
                                 #temporals.format(data.shiftDateTime.toLocalDate(), 'yyyy-MM-dd') == #temporals.format(date, 'yyyy-MM-dd')}">
                        <a th:href="@{/shift/info/{id}(id=${data.id})}">
                            <p th:text="${data.name}"></p>
                        </a>
                    </div>

                    <form th:action="@{/shift/add}" method="post">
                        <input type="text" name="name" placeholder="名前" size="8">
                        <input type="hidden" name="shiftDate" th:value="${#temporals.format(date, 'yyyy-MM-dd')}">
                        <input type="hidden" name="shiftTime" th:value="${time}">
                        <br>
                        <button type="submit">追加</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
<form th:action="@{/shift/manyadd}" method="get">
    <button type="submit">追加</button>
</form>

</html>